
<div class="panel panel-info">
  <div class="panel-heading"><h1 class="text-center"><%= @word.word %></h1></div>

    <ul class="list-group">
      <form action="/delete_def" method="post">
        <input type="hidden" name="word_id" value='<%= @word.id() %>'>
        <% @word.definition.each do |definition_item| %>
          <li class="list-group-item"><%= definition_item.definition %>
            <button type="submit" class="btn btn-default btn-xs pull-right">Delete</button>
            <input type="hidden" name="def_id" value='<%= definition_item.id %>'>
          </li>
        <% end %>
    </form>
    </ul>

</div>
<br/>
<form class="form-group" action="/definition" method="post">
  <input type="hidden" name="word_id" value='<%= @word.id() %>'>

  <input class="form-control" type="text" name="new_def" placeholder="New Definition">
  <br/>
  <button type="submit" class="btn btn-primary">Add Definition</button>
</form>
<br/>

<form action="/delete_word" method="post">
  <input type="hidden" name="word_id" value='<%= @word.id() %>'>
  <button type="submit" class="btn btn-danger">Delete Word</button>
  Warning! The word and definitions will not be retrievable once deleted.
</form>

<br/><br/>
<p><a href="/">Back to Word List</a></p>
